SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_PROJECTS_TABLE=[V2] Projetos Musicais
AIRTABLE_TRACKS_TABLE=[V2] Faixas Musicais
AIRTABLE_TRACK_PROJECT_LINK_FIELD=Projeto

FRONTEND_BASE_URL=https://sunbeat.pro

RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@sunbeat.pro
RESEND_FROM_NAME=Sunbeat
